/* All styles in this sheet are needed on page load */

/* Layout */

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* Only allow selection on message and pair key */
    transition: color 300ms;
    text-rendering: optimizeLegibility;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

.fw {
    width: 100%;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.pb-0 {
    padding-bottom: 0;
}

.mx-1 {
    margin-left: 5px;
    margin-right: 5px;
}

.m-1 {
    margin: 5px;
}

.cursive {
    font-style: italic;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

.grow {
    display: flex;
    flex-grow: 1;
}

.grow-2 {
    display: flex;
    flex-grow: 2;
}

.grow-5 {
    display: flex;
    flex-grow: 5;
}

.shrink {
    display: flex;
    flex-shrink: 1;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
}
.auto-left-margin {
    margin-left: auto;
}
.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pointer {
    cursor: pointer;
}

header {
    position: relative;
    align-items: baseline;
    padding: 8px 12px;
    box-sizing: border-box;
    width: 100vw;
    z-index: 20;
    top: 0;
    right: 0;
    min-height: 56px;
}
x-landing-page {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* Only allow selection on message and pair key */
    overflow: hidden;
    transition: color 300ms;
    height: 100vh;
}
*::selection {
    background: rgba(81, 144, 228, 0.404);
  }
header.overflow-hidden {
    overflow: hidden;
}

header:not(.overflow-expanded) {
    height: 56px;
}

header > * {
    margin-left: 4px;
    margin-right: 4px;
}

header > * {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    touch-action: manipulation;
}

header > .icon-button {
    height: 51px;
}

header .header-logo-button {
    align-self: center;
}
header .header-logo-img {
    max-height: 40px;
    max-width: 100px;
}

header * {
    transition: all 300ms;
}

#theme-wrapper > div {
    display: flex;
    flex-direction: column;
}

/* expand theme buttons */
#theme-wrapper:not(:hover) .icon-button:not(.selected) {
    height: 0;
    opacity: 0;
}

#theme-wrapper:hover::before {
    border-radius: 20px;
    background: var(--primary-color);
    opacity: 0.2;
    transition: opacity 300ms;
    content: '';
    position: absolute;
    top: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (hover: hover) and (pointer: fine) {
    #theme-wrapper:hover .icon-button:not(.selected):hover:before {
        opacity: 0.3;
    }

    #theme-wrapper:hover .icon-button.selected::before {
        opacity: 0.3;
    }
}

@media (hover: none) and (pointer: coarse) {
    #theme-wrapper:before {
        opacity: 0.3 !important;
        height: 40px !important;
    }

    #theme-wrapper .icon-button:before {
        opacity: 0;
    }

    #theme-wrapper .icon-button:not(.selected) {
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    #theme-wrapper > div {
        flex-direction: column-reverse;
    }
}

#expand > .icon {
    transition: transform 150ms ease-out
}

html:not([dir="rtl"]) #expand.flipped  > .icon {
    transform: rotate(-90deg);
}

html[dir="rtl"] #expand.flipped  > .icon {
    transform: rotate(90deg);
}

[hidden] {
    display: none !important;
}


/* Typography */


@font-face {
    font-family: "Thicccboi";
    src: url('../fonts/THICCCBOI/THICCCBOI-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
}
@font-face {
    font-family: "Thicccboi";
    src: url('../fonts/THICCCBOI/THICCCBOI-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "Thicccboi";
    src: url('../fonts/THICCCBOI/THICCCBOI-ExtraBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "Thicccboi";
    src: url('../fonts/THICCCBOI/THICCCBOI-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "Thicccboi";
    src: url('../fonts/THICCCBOI/THICCCBOI-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "Jost";
    src: url('../fonts/Jost/Jost-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
    font-family: Jost, -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
}

.font-subheading {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    word-break: normal;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white !important;
}



a,
.icon-button {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

input {
    cursor: pointer;
}

input[type="checkbox"] {
    min-width: 13px;
}

x-noscript {
    background: var(--primary-color);
    color: white;
    z-index: 2;
}


/* Icons */

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentColor;
}
.join-public-room {
    width: 25px !important;
    height: 25px !important;
}
.language-icon {
    width: 24px;
}


/* Shadows */

[shadow="1"] {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
        0 1px 8px 0 rgba(0, 0, 0, 0.12),
        0 3px 3px -2px rgba(0, 0, 0, 0.4);
}

[shadow="2"] {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.overflowing {
    background:
        /* Shadow covers */
            linear-gradient(rgb(var(--shadow-color-cover-rgb)) 30%, rgba(var(--shadow-color-cover-rgb), 0)),
            linear-gradient(rgba(var(--shadow-color-cover-rgb), 0), rgb(var(--shadow-color-cover-rgb)) 70%) 0 100%,
                /* Shadows */
            radial-gradient(farthest-side at 50% 0, rgba(var(--shadow-color-rgb), .2), rgba(var(--shadow-color-rgb), 0)),
            radial-gradient(farthest-side at 50% 100%, rgba(var(--shadow-color-rgb), .2), rgba(var(--shadow-color-rgb), 0))
            0 100%;
    background-repeat: no-repeat;
    background-size: 100% 60px, 100% 60px, 100% 24px, 100% 24px;
    background-attachment: local, local, scroll, scroll;
}


/* Animations */

/* Opacity for elements at keyframe 100% is set on element (default 1) */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

#center {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

x-transfer-window {
    background-color: white;
    border-radius: 1.8em;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    width: 21em;
    height: 25.5em;
    display: flex;
    flex-shrink: 0;
    margin-left: 1em;
    position: relative;
}
x-transfer-arrow {
    margin-left: 2em;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
x-transfer-arrow img {
    width: 73%;
    object-fit: contain;
}
x-heading {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.9vh;
}
x-heading h1 {
    font-family: thicccboi, sans-serif;
    font-size: min(4.5vw, 3em);
    color: #000;
    font-weight: 700;
    max-width: 16em;
    margin: 0;
}
x-heading h3 {
    color: #000;
    font-weight: 500;
    font-size: min(2vw, 1.14em);
    max-width: 38em;
    margin: 0;
    width: 90%;
    line-height: min(2.8vw, 1.6em);
}
x-heading span {
    position: relative;
}
x-heading .magic-file-icons::after {
    content: "";
    position: absolute;
    top: -35px;
    right: -78px;
    width: 13vw;
    aspect-ratio: 1.6;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/landing/file-icons.svg");
    max-width: 128px;
    transform: rotate(10deg);
}

x-heading .magic-underline::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: -1px;
    width: 116%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/landing/underline.svg");
}
x-heading .icon {
    width: 1em;
}
.vertical-align-sub {
    vertical-align: sub;
    cursor: pointer;
}
x-heading img {
    width: 16px;
    object-fit: contain;
}
x-heading .heading-row-item {
    gap: 6px !important;
    align-items: center;
}
x-heading .row {
    column-gap: 20px;
    row-gap: 5px;
    flex-wrap: wrap;
    font-size: min(2vw, 1.05em);
    color: black;
}

x-peer-name {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(calc(100% + 15px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
x-peer-name h4 {
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

x-peer-name #display-name {
    font-family: thicccboi, sans-serif;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    margin-top: 2px;
}

@media only screen and (max-width: 900px) {
    x-transfer-arrow {
        display: none !important;
    }
}
@media only screen and (max-width: 650px) {
    x-heading h3 {
        line-height: normal;
        font-size: .95em;
    }
    x-heading h1 {
        font-size: 1.8em;
    }
    x-heading .vertical-align-sub {
        vertical-align: text-bottom;
    }
    x-landing-page {
        overflow-y: scroll;
    }
    x-peer-file-input {
        max-height: 9em !important;
    }
    x-heading .row {
        display: none;
    }
    x-no-peers h2 {
        font-size: 1em !important;
    }
    x-heading {
        text-align: center;
        margin: 0;
        padding: 5%;
        margin-top: -3em;
        align-items: center;
    }
    #center {
        flex-direction: column-reverse;
    }
    .visit-website {
        display: none;
    }
    x-transfer-window {
        /*height: calc(100vh - 80px);*/
        margin-left: 15px;
        margin-right: 15px;
        max-width: 21em;
        height: 23em;
        margin-bottom: 15px;
        width: calc(100% - 30px);
        box-shadow: none;
    }
    x-landing-background img {
        display: none;
    }
    x-heading .magic-underline::after {
        bottom: -14px !important;
    }
    x-peer-file-input-options .icon {
        height: 4vh !important;
    }
}
@media only screen and (max-height: 650px) {
    x-heading h3 {
        line-height: normal;
        font-size: .85em;
    }
    x-heading h1 {
        font-size: 1.2em;
    }
}
@media only screen and (max-height: 590px) {
    x-heading h3 {
        display: none;
    }
    x-heading h1 {
        font-size: 1.3em;
    }
    x-heading {
        margin-top: 0;
    }
}
@media only screen and (max-width: 1150px) {
    .display-condition1::after {
        display: none;
    }
    .display-condition2 {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    x-heading .magic-underline::after {
        bottom: -13px;
    }
}
@media only screen and (max-width: 350px) {

    x-peer-file-input-options  {
        gap: 0px !important;
    }
    x-peer-file-input-options label {
        padding: 8px 19px !important;
        font-size: 0.85em !important;
    }
}

x-landing-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EEFFE1;
    width: 100%;
    height: 100%;
    z-index: -100;
}
x-landing-background .circles-right {
    position: absolute;
    top: 20vh;
    right: 11vw;
    width: 35vw;
}
x-landing-background .circles-left {
    position: absolute;
    bottom: 2vh;
    left: 4vw;
    width: 32vw;
}

x-landing-page .visit-website {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 50px;
    position: relative;
    z-index: 1;
    margin-top: -50px;
    background-color: #ffffff;
    font-size: 0.9em;
    font-family: thicccboi, sans-serif;
    font-weight: 500;
    padding: 3px 20px;
    align-items: center;
    border-radius: 22px;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.06);
    gap: 10px;
}
x-landing-page .visit-website::before {
    content: url("../images/landing/display-arrow-down.svg");
    transform: scale(.6);
    left: 10px;
    top: 12px;
    position: absolute;
    will-change: left, top;
}
x-landing-page .visit-website h3 {
    margin-left: 26px;
    transition: margin-left .3s ease-in-out, color .06s;
}
x-landing-page .visit-website:hover h3{
    margin-left: 0px;
    margin-right: 26px;
}
x-landing-page .visit-website:hover {
    animation-name: wiggle, wiggle2, color1, color2;
    animation-duration: .3s, .3s, .11s, .08s;
    animation-delay: 0s, .75s, .75s, .75s;
    animation-timing-function: ease-in-out, ease-in-out, linear, linear;
    animation-fill-mode: forwards, forwards, forwards, forwards;

}

x-landing-page .visit-website:hover:before {
    animation-name: jump-x, rotate, jump-y, jump-y2, filter1;
    animation-timing-function: cubic-bezier(.3,-0.04,.78,1), linear, cubic-bezier(.38,-0.44,0,1), cubic-bezier(1,.02,.76,1.32), linear;
    animation-duration: .8s, .8s, .4s, .4s, .11s;
    animation-delay: 0s, 0s, 0s, .4s, .75s;
    
    animation-direction: alternate, alternate, alternate, alternate, alternate;
    animation-fill-mode: forwards, forwards, forwards, forwards, forwards;
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
      }
  }
  @keyframes color1 {
    0% {
        background-color: white;
    }
    100% {
        background-color: #0b1d35;
      }
  }
  @keyframes color2 {
    100% {
        color: #ffffff;
      }
  }
  @keyframes filter1 {
    0% {
        filter: none;
    }
    100% {
        filter: invert(98%) sepia(98%) saturate(7%) hue-rotate(145deg) brightness(104%) contrast(102%);
      }
  }
  @keyframes wiggle2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
      }
  }
  @keyframes rotate {
    0% {
        transform: rotate(0deg) scale(.6);
    }

    100% {
        transform: rotate(360deg) scale(.6);
      }
  }
@keyframes jump-x {
    0% {
        left: 10px;
    }
    100% {
        left: calc(100% - 45px);
      }
  }

  @keyframes jump-y {
    0% {
      top: 12px;
    }
    100% {
        top: -150px;
      }
  }
  @keyframes jump-y2 {
    0% {
      top: -150px;
    }
    100% {
        top: 12px;
      }
  }
/* Peers  */

x-peers {
    position: relative;
    display: flex;
    flex-direction: column;

    z-index: 1;
    transition: background-color 0.5s ease;

    --peers-per-row: 6; /* default if browser does not support :has selector */
    --x-peers-width: min(100vw, calc(var(--peers-per-row) * (var(--peer-width) + 25px) - 16px));
}

/* Empty Peers List */

x-no-peers {
    display: flex;
}

x-no-peers-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    transform: translateY(1.4em);
    gap: 0.6em;
}
x-no-peers-instructions img {
    width: 9em;
    object-fit: contain;
    margin-bottom: 1.3em;
}
x-no-peers-instructions .instructions-smaller {
    width: 90%;
}
x-no-peers div {
    color: var(--primary-color-dark);
    font-family: Jost;
    font-size: 14.5px;
}
x-no-peers h2 {
    color: black;
    margin: 0;
    font-family: thicccboi, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}


x-peers:not(:empty)+x-no-peers {
    display: none;
}

x-no-peers::before {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.012em;
    line-height: 32px;
}

x-no-peers[drop-bg]::before {
    content: attr(data-drop-bg);
}

x-no-peers[drop-bg] * {
    display: none;
}


/* Footer */

footer {
    position: relative;
    z-index: 2;
    align-items: center;
    text-align: center;
    cursor: default;
    margin: auto 5px 5px;
}

footer .logo {
    --icon-size: 80px;
    margin-bottom: 8px;
    color: var(--primary-color);
    margin-top: -10px;
}

.border {
    border: 2px solid var(--border-color);
}

.panel {
    font-size: 14px;
    padding: 2px;
    background-color: rgb(var(--bg-color));
    transition: background-color 0.5s ease;
    min-height: 24px;
}

.panel.column {
    border-radius: 16px;
}

.panel.row {
    border-radius: 12px;
}

.panel > div:first-of-type {
    padding-left: 4px;
    padding-right: 4px;
}

/* You can be discovered wrapper */
.discovery-wrapper {
    margin: 15px auto auto;
}

.discovery-wrapper .badge {
    word-break: keep-all;
    margin: 2px;
}

.badge {
    border-radius: 0.55rem;
    padding: 0.1rem 0.5rem;
    background-color: var(--badge-color);
    white-space: nowrap;
}

.badge-room-ip {
    --badge-color: #e7effd;
}

.badge-room-secret {
    --badge-color: var(--paired-device-color);
}

.badge-room-public-id {
    --badge-color: var(--public-room-color);
}

.known-as-wrapper {
    font-size: 16px; /* prevents auto-zoom on edit */
}

#display-name {
    position: relative;
    display: inline-block;
    text-align: left;
    border: none;
    outline: none;
    height: 20px;
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: text;
    margin-bottom: -6px;
    padding-bottom: 0.1rem;
    border-radius: 1.3rem/30%;
    border-right: solid 1rem transparent;
    border-left: solid 1rem transparent;
    background-clip: padding-box;
    z-index: 1;
}

.edit-pen {
    width: 1rem;
    height: 1rem;
    margin-bottom: -2px;
    position: relative;
}

html[dir="rtl"] .edit-pen {
    transform: rotateY(180deg);
}

/* Dialogs needed on page load */
x-dialog:not([show]) x-background {
    opacity: 0;
}

/* Button */

.btn {
    font-family: thicccboi, -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 2px 16px 0;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background: inherit;
    color: black;
    overflow: hidden;
}

.btn-small {
    font-size: 12px;
    line-height: 22px;
}

.btn[disabled] {
    color: var(--btn-disabled-color);
    cursor: not-allowed;
}


.btn,
.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
    border: none;
    outline: none;
}

.btn:before,
.icon-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: transparent;
    transition: opacity 300ms;
}

.icon-button:before {
    z-index: -1;
}

.btn:not([disabled]):hover:before,
.icon-button:hover:before {
    opacity: 0;
}

.btn[selected],
.icon-button[selected] {
    opacity: 0;
}

.btn:focus:before,
.icon-button:focus:before {
    opacity: 0;
}

.btn-round {
    border-radius: 50%;
}

.btn-rounded {
    border-radius: 18px;
}

.btn-small.btn-rounded {
    border-radius: 6px;
}

.btn-grey {
    background-color: #bfd6ff;
}

.btn-dark {
    background-color: #262628;
}

.btn-primary {
    background: var(--primary-color);
    color: rgb(var(--bg-color));
}

button::-moz-focus-inner {
    border: 0;
}


/* Icon Button */
.icon-button {
    width: 44px;
    height: 44px;
}

.icon-button:before {
    border-radius: 50%;
}


/* Info Animation */

#about {
    color: white;
    z-index: 32;
    overflow: hidden;
    pointer-events: none;
    text-align: center;
}

#about header {
    z-index: 1;
}

#about:not(:target) header {
    transition-delay: 400ms;
}

#about:target header {
    transition-delay: 100ms;
}

#about > * {
    transition: opacity 300ms ease 300ms;
    will-change: opacity;
    pointer-events: all;
}

#about:not(:target) > header,
#about:not(:target) > section {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

#about .logo {
    --icon-size: 96px;
}

#about .title-wrapper {
    display: flex;
    align-items: baseline;
}

#about .title-wrapper > div {
    margin-left: 0.4em;
}

#about x-background {
    position: absolute;
    --size: max(max(230vw, 230vh), calc(150vh + 150vw));
    --size-half: calc(var(--size)/2);
    top: calc(28px - var(--size-half));
    width: var(--size);
    height: var(--size);
    z-index: -1;
    background: var(--primary-color);
    background-image: radial-gradient(circle at calc(50% - 36px), var(--accent-color) 0%, color-mix(in srgb, var(--accent-color) 40%, black) 80%);
    --crop-size: 0px;
    clip-path: circle(var(--crop-size));
}

html:not([dir="rtl"]) #about x-background {
    right: calc(36px - var(--size-half));
}

html[dir="rtl"] #about x-background {
    left: calc(36px - var(--size-half));
}


/* Hack such that initial scale(0) isn't animated */
#about x-background {
    will-change: clip-path;
    transition: clip-path 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#about:target x-background {
    --crop-size: var(--size);
}

#about .row a {
    margin: 8px 8px -16px;
}

#about section {
    flex-grow: 1;
}


/* Generic placeholder */
[placeholder]:empty:before {
    content: attr(placeholder);
}

/* Toast */

.toast-container {
    padding: 0 8px 24px;
    overflow: hidden;
    pointer-events: none;
}

x-toast {
    display: flex;
    justify-content: space-between;
    position: absolute;
    min-height: 48px;
    top: 50px;
    max-width: 400px;
    background-color: var(--primary-color-dark);
    color: var(--dialog-bg-color);
    align-items: center;
    box-sizing: border-box;
    padding: 5px 10px;
    z-index: 40;
    transition: opacity 200ms, transform 250ms ease;
    cursor: default;
    line-height: 24px;
    border-radius: 22px;
    pointer-events: all;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.09);
}
x-toast .icon {
    width: 18px;
}

x-toast.top-row {
    top: 3px;
}

x-toast:not([show]) {
    opacity: 0;
    transform: translateY(calc(-100% + -55px));
}

x-toast span {
    flex-grow: 1;
    margin: auto 4px auto 10px
}

x-dialog[show] ~ div x-toast {
    background-color: var(--lt-dialog-bg-color);
    color: rgb(var(--lt-text-color));
}

/* Instructions */

x-instructions {
    display: flex;
    position: relative;
    opacity: 0.5;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    min-height: max(6vh, 40px);
    flex-direction: column;
    justify-content: end;
}

x-instructions:not([drop-peer]):not([drop-bg]):before {
    content: attr(mobile);
}

x-instructions[drop-peer]:before {
    content: attr(data-drop-peer);
}

x-instructions[drop-bg]:not([drop-peer]):before {
    content: attr(data-drop-bg);
}


x-peers:empty,
x-peers:empty~x-instructions {
    display: none;
}

@media (hover: none) and (pointer: coarse) {
    x-peer {
        transform: scale(0.95);
        padding: 4px;
    }
}

/* Prevent Cumulative Layout Shift */

.fade-in {
    animation: fade-in 600ms;
    animation-fill-mode: backwards;
}

.no-animation-on-load {
    animation-iteration-count: 0;
}

.opacity-0 {
    opacity: 0;
}

/* Responsive Styles */

@media screen and (min-height: 800px) {
    footer {
        margin-bottom: 16px;
    }
}

@media (hover: hover) and (pointer: fine) {
    x-instructions:not([drop-peer]):not([drop-bg]):before {
        content: attr(desktop);
    }
}

/* Constants */

:root {
    --icon-size: 21px;
    --peer-width: 120px;
    color-scheme: light;
}


/*
    Color Themes
*/

/* Default colors */
body {
    /* Constant colors */
    --primary-color: #5a97ff;
    --primary-color-dark: #0d2c4f;
    --paired-device-color: #00a69c;
    --public-room-color: #ed9d01;
    --accent-color: var(--primary-color);
    --ws-peer-color: #ff6b6b;
    --btn-disabled-color: #5B5B66;


    /* shadows */
    --shadow-color-rgb: var(--text-color);
    --shadow-color-cover-rgb: var(--bg-color);

    /* Light theme colors */
    --lt-text-color: 51,51,51;
    --lt-dialog-bg-color: #fff;
    --lt-bg-color: 255,255,255;
    --lt-bg-color-secondary: #f2f2f2;
    --lt-border-color: #a9a9a9;
    --lt-badge-color: #a5a5a5;
    --lt-lang-hr-color: #DDD;

    --lt-shadow-color-secondary-rgb: 0,0,0;
    --lt-shadow-color-secondary-cover-rgb: 242,242,242;
    --lt-shadow-color-dialog-rgb: 0,0,0;
    --lt-shadow-color-dialog-cover-rgb: 242,242,242;

    /* Dark theme colors */
    --dt-text-color: 238,238,238;
    --dt-dialog-bg-color: #141414;
    --dt-bg-color: 20,20,30;
    --dt-bg-color-secondary: #262628;
    --dt-border-color: #919191;
    --dt-badge-color: #717171;
    --dt-lang-hr-color: #404040;

    --dt-shadow-color-secondary-rgb: 255,255,255;
    --dt-shadow-color-secondary-cover-rgb: 38,38,38;
    --dt-shadow-color-dialog-rgb: 255,255,255;
    --dt-shadow-color-dialog-cover-rgb: 38,38,38;
}

/* Light theme colors */
body {
    --text-color: var(--lt-text-color);
    --dialog-bg-color: var(--lt-dialog-bg-color);
    --bg-color: var(--lt-bg-color);
    --bg-color-secondary: var(--lt-bg-color-secondary);
    --border-color: var(--lt-border-color);
    --badge-color: var(--lt-badge-color);
    --lang-hr-color: var(--lt-lang-hr-color);

    --shadow-color-secondary-rgb: var(--lt-shadow-color-secondary-rgb);
    --shadow-color-secondary-cover-rgb: var(--lt-shadow-color-secondary-cover-rgb);
    --shadow-color-dialog-rgb: var(--lt-shadow-color-dialog-rgb);
    --shadow-color-dialog-cover-rgb: var(--lt-shadow-color-dialog-cover-rgb);
}

/* Dark theme colors */
body.dark-theme {
    --text-color: var(--dt-text-color);
    --dialog-bg-color: var(--dt-dialog-bg-color);
    --bg-color: var(--dt-bg-color);
    --bg-color-secondary: var(--dt-bg-color-secondary);
    --border-color: var(--dt-border-color);
    --badge-color: var(--dt-badge-color);
    --lang-hr-color: var(--dt-lang-hr-color);

    --shadow-color-secondary-rgb: var(--dt-shadow-color-secondary-rgb);
    --shadow-color-secondary-cover-rgb: var(--dt-shadow-color-secondary-cover-rgb);
    --shadow-color-dialog-rgb: var(--dt-shadow-color-dialog-rgb);
    --shadow-color-dialog-cover-rgb: var(--dt-shadow-color-dialog-cover-rgb);
}


/* Colored Elements */
body {
    color: rgb(var(--text-color));
    background-color: rgb(var(--bg-color));
    transition: background-color 0.5s ease;
}

/* Gradient for wifi-tether icon */
#primaryGradient .start-color {
    stop-color: var(--primary-color);
}

@supports (stop-color: color-mix(in srgb, blue 50%, black)) {
    #primaryGradient .start-color {
        stop-color: color-mix(in srgb, var(--primary-color) 80%, white);
    }
}

#primaryGradient .stop-color {
    stop-color: var(--primary-color);
}


/*
    Edge specific styles
*/
@supports (-ms-ime-align: auto) {

    html,
    body {
        overflow: hidden;
    }
}

/*
    Browser specific styles
*/

body {
    /* mobile viewport bug fix */
    min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
}

html {
    min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
}

/* webkit scrollbar style*/

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius: 4px;
}


/* make elements with attribute contenteditable editable on older iOS devices.
See note here: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

